body {
    font-family: $regular;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 0;
    color: $primary-color;
    text-transform: uppercase;

    &::after {
        content: "";
        display: block;
        background-color: $details;
        width: 12%;
        height: 2px;
        margin: 3px auto 0;
    }
}

h2 {
    text-transform: uppercase;
    text-align: center;
    color: $primary-color;
    font-size: 1.5rem;
    margin-bottom: 3rem;

    &::after {
        content: "";
        display: block;
        background-color: $details;
        width: 10%;
        height: 2px;
        margin: 3px auto 0;
    }
}

