.lightblue {
    background-color: $lightblue;
    margin-top: 10rem;

    .darkblue {
        background-color: $primary-color;
        margin: -1.5rem auto 4rem;

        .white {
            background-color: $secondary-color;
            margin: -1rem auto 3rem;
            width: 30%;
            padding: 1rem;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.229);
        }

        .left {
            padding-left: 2rem;

            i {
                border-radius: 50%;
                padding: 5px;
                background-color: $secondary-color;

            }

            .contact {
                margin-bottom: 1rem;
            }

            a {
                text-decoration: none;
                color: $secondary-color;
                padding: 5px;

                &:hover {
                    color: $details;
                    transition: 0.3s;
                }
            }
        }

        .middle {
            color: $secondary-color;
            text-align: center;
        }

        .right {
            text-align: right;
            padding-top: 2rem;

            a {
                text-decoration: none;
                margin-right: 1.5rem;

                i {
                    font-size: 2rem;
                }
            }

        }
    }
}